body{
    font-family: sans-serif;
}

.logo{
    
    width: 90px;
    height: 90px;
    
    padding-right: 20px;
    padding-bottom: 100px;
    position: absolute;
}

   

.gallery img{
    width: 205px;
    height: 210px;
    padding: 1px;
    transition: 0.5s;
}
.gallery img:hover{
    filter: grayscale(80%);
    transform: scale(1.02);
}
